// FONTES



// CORES
$preto: #000;
$branco: #FFF;
$cor1: #11284B;
$cor2: #F9F9F8;
$cor3: #C6C5B9;
$cor4: #62929E;
$cor5: #546A7B;
$cor6: #171717;
$cor7: #2ba6cb;

//MIXINGS
@mixin background-center-cover {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin box-shadow {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

@mixin translate-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin translate-bottom {
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
}