doctype
html(class="no-js", lang="pt-BR", dir="ltr")

head
include includes/head
//css

body.body

    //header
    include includes/header
    //header

    //main
    main.main
        include includes/servicos-home
        include includes/links-home
        include includes/posts-home
    //main

    //footer
    include includes/footer
    //footer

    //scripts
    include includes/foot
    //scripts
