doctype
html(class="no-js", lang="pt-BR", dir="ltr")

head
include includes/head
//css

body.body

    //header
    include includes/header-page
    //header

    //main
    main.main
        include includes/content-post
    //main

    //footer
    include includes/footer
    //footer

    //scripts
    include includes/foot
    //scripts
