.breadcrumbsContainer
    .grid-container
        .grid-x.grid-padding-x.grid-margin-x
            .cell.small-12
                ul.breadcrumbs
                    li
                        a(href="index.html") #[i.fas.fa-home] Home
                    li
                        a(href="") Página Mãe
                    li.disabled Sub Página
                    li #[span.show-for-sr Current:] Post
