section.noticias
    .grid-container
        .grid-x
            .cell.small-12
                h1.titulo Notícias

            .cell.small-12.medium-8.large-9.noticiasBox
                .grid-x
                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 Publicada Circular CAIXA 832/2018
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                .imgBox
                                    img(src="assets/img/b1.jpg", alt="")

                                p DIRETORIA EXECUTIVA FUNDOS DE GOVERNO

                                p SUPERINTENDÊNCIA NACIONAL DE FUNDO DE GARANTIA

                                p CIRCULAR Nº 832, DE 30 DE OUTUBRO DE 2018
                                p Dispõe sobre os procedimentos pertinentes à geração e arrecadação da guia de recolhimento mensal e rescisório do FGTS durante período de adaptação à obrigatoriedade à prestação de informações pelo eSocial.

                                p A Caixa Econômica Federal - CAIXA, na qualidade de Agente Operador do Fundo de Garantia do Tempo de Serviço - FGTS, no uso das atribuições que lhe são conferidas pelo artigo 7º, inciso II, da Lei nº 8.036, de 11/05/1990, e de acordo com o Regulamento Consolidado do FGTS, aprovado pelo Decreto nº 99.684, de 08/11/1990, alterado pelo Decreto nº 1.522, de 13/06/1995, em consonância com a Lei nº 9.012, de 11/03/1995 e com o Decreto n° 8.373, de 11/12/2014, em especial ao que estabelece o seu §1º do Art. 2º e Art. 8º, publica a presente Circular.
                                ol
                                    li Divulga orientações referentes à fase de convivência relacionada à transmissão dos eventos ao eSocial, que trata a Resolução do Comitê Diretivo do eSocial nº 02, de 30/08/2017 e suas alterações, bem como o atual modelo operacional do FGTS, assim como, conseqüente, aos prazos relativos aos procedimentos administrativo-operacionais a serem observados pelos agentes financeiros e empregadores integrantes do sistema do FGTS.

                                        ol
                                            li Para tanto, observados os procedimentos contidos no "Manual de Orientação ao Empregador - Recolhimentos Mensais e Rescisórios ao FGTS e das Contribuições Sociais", divulgado no site da CAIXA, poderá o empregador, até a competência janeiro/2019, efetuar o recolhimento pela GRF, emitida pelo SEFIP.

                                            li As guias referentes aos recolhimentos rescisórios - GRRF - poderão ser utilizadas pelos empregadores para aqueles desligamentos de contratos de trabalho ocorridos até 31 de janeiro de 2019.

                                            li Os empregadores de que trata a presente Circular são aqueles caracterizados no inciso I, do artigo 2º da Resolução do Comitê Diretivo do eSocial nº 02, de 30/08/2017.

                                    li Esta Circular CAIXA entra em vigor na data de sua publicação e revoga a Circular CAIXA nº 818, de 30 de julho de 2018.

                                p VALTER GONÇALVES NUNES

                                p Vice-Presidente Interino



            .cell.small-12.medium-4.large-3
                div.sidebar.widget-area
                    aside.widget-sidebar
                        h5.uppercase Útimas Notícias
                        ul
                            li
                                a(href="noticias.html") Publicada Circular CAIXA 832/2018

                            li
                                a(href="noticias.html") Datas de início da obrigatoriedade da EFD-Reinf são alteradas

                            li
                                a(href="noticias.html") Iniciada a 2a fase do eSocial para empresas com faturamento até R$ 78 milhões

                            li
                                a(href="noticias.html") Publicado novo cronograma do eSocial

                    aside.widget-sidebar
                        h5.uppercase Categorias
                        ul
                            li
                                a(href="noticias.html") Trabalhista

                            li
                                a(href="noticias.html") Tributário

                            li
                                a(href="noticias.html") Societário

                            li
                                a(href="noticias.html") Contábil

                    aside.widget-sidebar
                        h5.uppercase Arquivo
                        ul
                            li
                                a(href="noticias.html") Dezembro 2018

                            li
                                a(href="noticias.html") Novembro 2018

                            li
                                a(href="noticias.html") Outubro 2018

                            li
                                a(href="noticias.html") Setembro 2018


