section.servicos.servicos-page
    .grid-container
        .grid-x.grid-margin-x.grid-padding-x
            .cell.small-12
                h1.titulo Nossos Serviços
            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-calculator
                    .servicoBox-body
                        h3 Contabilidade Geral
                        p Nosso escritório esta preparado para atender os mais variados ramos de atividade, com uma contabilidade eficiente e transparente nos preocupamos em trazer informações precisas para o gerenciamento do seu negócio, e tomada de decisões.
                        p Nosso departamento de contabilidade cuida de todos os procedimentos para elaboração do balanço patrimonial, cuidamos de toda a organização de documentos, classificação, registros nas contas contábeis, conciliação e re-conciliação, composição de saldos, escrituração dos livros contábeis, emissão de balancetes, balanços e demonstrações financeiras.

            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-landmark
                    .servicoBox-body
                        h3 Fiscal
                        p É nossa missão trazer a melhor opção tributária para nossos clientes, utilizando a legislação em vigor, como a ferramenta para pagar o mínimo possível de impostos, obtendo a melhor performance tributária a seu favor.
                        p Escrituramos os livros fiscais, apuramos os impostos, atendemos todas as obrigações acessórias e fornecemos uma assessoria completa em todos os procedimentos legais nas mais diferentes situações do dia-a-dia.


            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-chart-bar
                    .servicoBox-body
                        h3 Abertura de Empresas
                        p Nosso departamento Societário está preparado para abrir e cuidar da sua empresa, damos todo apoio que uma nova empresa precisa receber, antes da abertura, fazemos uma analise do negócio, planejamento tributário, esclarecemos e estudamos a melhor forma possível antes de abrir o seu negócio.
                        p Trabalhamos com todos os procedimentos societários: Serviços, Comércio, Indústria, Associações, Mei, experiência a mais de 10 anos a Barboza Ribas Contabilidade, executa todos os procedimentos na abertura, regularização, alterações contratuais, baixa de empresas.
                        p Depois de aberta sua empresa continua recebendo toda a atenção e supervisão que um novo negócio precisa e merece.

            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-users
                    .servicoBox-body
                        h3 Recursos Humanos
                        p Nossa equipe de RH tem como missão, zelar por todas as tarefas ligadas à sua relação com seus trabalhadores.
                        p Realizamos todos os procedimentos, desde o Registro do Funcionário, até a Rescisão do Contrato de Trabalho, e sua Homologação; passando por apontamento de horas, folhas de pagamento de salário e pro-labore, hollerits, férias, licenças, vale transporte, planos de benefícios, salário família, e tudo mais.
                        p Fornecemos um constante monitoramento de uma equipe, apta à lhe orientar em todas as questões, com o objetivo de reduzir todo tipo de risco de reclamações trabalhistas que você possa correr. Com sua empresa, e sua equipe bem cuidadas, é muito mais fácil atingir seus objetivos.
                        p Não poderiam ficar de fora os cuidados necessários com as obrigações sociais, como o INSS, e o Fundo de Garantia, nem tampouco as obrigações acessórias, como os Informes de Rendimento, Relações Anuais de informações Sociais, e tudo que você puder pensar em administração de pessoal.

            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-money-bill-wave
                    .servicoBox-body
                        h3 Área Financeira
                        p Nosso objetivo é sensibilizar e informar o empresário sobre a importância de conhecer e utilizar as informações geradas pela contabilidade como ferramenta para controlar e planejar o seu negócio. O empresário precisa conhecer as principais formas de controle, planejamento, organização das finanças, para obter bons resultados a sua empresa.
                        p As ferramentas de controle, gestão, índices, uma administração minuciosa, é necessário para permanecer no mercado e ter bons resultados financeiros, nossa equipe esta preparada a proporcionar todas essas ferramentas e controles para sua empresa.

            .cell.small-12.medium-12.servico
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-handshake
                    .servicoBox-body
                        h3 Societário
                        p Abrangendo os controles, processos e recursos humanos, utilizando-se de balancetes para acrescentar o fluxo operacional e o financeiro da sua empresa.