section.noticias
    .grid-container
        .grid-x
            .cell.small-12
                h1.titulo Notícias

            .cell.small-12.medium-8.large-9.noticiasBox
                .grid-x
                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiasLeft
                                a(href="post.html")
                                    img(src="assets/img/b1.jpg", alt="")
                            .noticiaBox-body
                                h3 #[a(href="post.html") Publicada Circular CAIXA 832/2018]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018


                                p A Caixa Econômica Federal - CAIXA, na qualidade de Agente Operador do Fundo de Garantia do Tempo de Serviço - FGTS, no uso das atribuições que lhe são conferidas pelo artigo 7º, inciso II, da Lei nº 8...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 #[a(href="post.html") Datas de início da obrigatoriedade da EFD-Reinf são alteradas]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p Com o objetivo de se promover o alinhamento entre a entrega da EFD-Reinf e o cronograma do eSocial, foi publicada a Instrução Normativa RFB nº 1.842, de 2018, que trata da Escrituração Fiscal...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiasLeft
                                a(href="post.html")
                                    img(src="assets/img/b1.jpg", alt="")
                            .noticiaBox-body
                                h3 #[a(href="post.html") Iniciada a 2a fase do eSocial para empresas com faturamento até R$ 78 milhões]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p A segunda fase do eSocial tem início nesta quarta-feira, dia 10 de outubro, abrangendo entidades empresariais com faturamento de até R$ 78 milhões no ano de 2016 e que não sejam optantes pelo Simples Nacional...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiasLeft
                                a(href="post.html")
                                    img(src="assets/img/b1.jpg", alt="")
                            .noticiaBox-body
                                h3 #[a(href="post.html") Publicado novo cronograma do eSocial]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p O Comitê Diretivo do eSocial publicou a Resolução CDES nº 05 no DOU desta sexta-feira (5/10/2018), que alterou a Resolução CDES nº 02 e definiu novos prazos para o envio de eventos...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 #[a(href="post.html") Publicada Circular CAIXA 832/2018]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p A Caixa Econômica Federal - CAIXA, na qualidade de Agente Operador do Fundo de Garantia do Tempo de Serviço - FGTS, no uso das atribuições que lhe são conferidas pelo artigo 7º, inciso II, da Lei nº 8...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 #[a(href="post.html") Datas de início da obrigatoriedade da EFD-Reinf são alteradas]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p Com o objetivo de se promover o alinhamento entre a entrega da EFD-Reinf e o cronograma do eSocial, foi publicada a Instrução Normativa RFB nº 1.842, de 2018, que trata da Escrituração Fiscal...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 #[a(href="post.html") Iniciada a 2a fase do eSocial para empresas com faturamento até R$ 78 milhões]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p A segunda fase do eSocial tem início nesta quarta-feira, dia 10 de outubro, abrangendo entidades empresariais com faturamento de até R$ 78 milhões no ano de 2016 e que não sejam optantes pelo Simples Nacional...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    article.cell.small-12.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h3 #[a(href="post.html") Publicado novo cronograma do eSocial]
                                .postData
                                    small
                                        span #[a(href="noticias.html") Contábil], #[a(href="noticias.html") Trabalhista ]
                                        span.postData-dia 12/02/2018

                                p O Comitê Diretivo do eSocial publicou a Resolução CDES nº 05 no DOU desta sexta-feira (5/10/2018), que alterou a Resolução CDES nº 02 e definiu novos prazos para o envio de eventos...
                                a(href="post.html", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

            .cell.small-12.medium-4.large-3
                div.sidebar.widget-area
                    aside.widget-sidebar
                        h5.uppercase Útimas Notícias
                        ul
                            li
                                a(href="post.html") Publicada Circular CAIXA 832/2018

                            li
                                a(href="post.html") Datas de início da obrigatoriedade da EFD-Reinf são alteradas

                            li
                                a(href="post.html") Iniciada a 2a fase do eSocial para empresas com faturamento até R$ 78 milhões

                            li
                                a(href="post.html") Publicado novo cronograma do eSocial

                    aside.widget-sidebar
                        h5.uppercase Categorias
                        ul
                            li
                                a(href="noticias.html") Trabalhista

                            li
                                a(href="noticias.html") Tributário

                            li
                                a(href="noticias.html") Societário

                            li
                                a(href="noticias.html") Contábil

                    aside.widget-sidebar
                        h5.uppercase Arquivo
                        ul
                            li
                                a(href="noticias.html") Dezembro 2018

                            li
                                a(href="noticias.html") Novembro 2018

                            li
                                a(href="noticias.html") Outubro 2018

                            li
                                a(href="noticias.html") Setembro 2018


