footer.footer
    .grid-container
        .grid-x.grid-margin-x.align-middle

            .cell.small-12.medium-4.large-3
                img(src="assets/img/logosite2.png" alt="" class="custom-logo")

                address.hide
                    div #[i.fas.fa-map-marker-alt] Av Cândido Hartmann, 528, sala 72 - Curitiba – PR
                    div #[i.fas.fa-envelope-open-text] contabilidade@barbozaribas.com.br
                    div.tel #[i.fas.fa-phone] 41 3339-3884
                    div.tel #[i.fas.fa-mobile-alt] 41 99860-8103
                    div.tel #[i.fas.fa-mobile-alt] 41 99535-6234

            .cell.small-12.medium-8.large-5
                address
                    div #[i.fas.fa-map-marker-alt] Av Cândido Hartmann, 528, sala 72 - Curitiba – PR
                    div #[i.fas.fa-envelope-open-text] contabilidade@barbozaribas.com.br
                    div.tel #[i.fas.fa-phone] 41 3339-3884
                    div.tel #[i.fas.fa-mobile-alt] 41 99860-8103
                    div.tel #[i.fas.fa-mobile-alt] 41 99535-6234

            .cell.small-12.large-4.tags
                span.label Contabilidade
                span.label Curitiba
                span.label Receita
                span.label Escrituração
                span.label Plano de contas
                span.label Ativo
                span.label Passivo
                span.label Compensação
                span.label Balancete
                span.label Contador
                span.label Previsão
                span.label Capital de giro
                span.label Depreciação
                span.label Faturamento
                span.label Imposto de renda

    .copy
        .grid-container
            .grid-x.text-center
                .cell.auto
                    p
                        small barbozaribas.com.br &copy;2018 - #[a(href="https://blackflag.com.br", target="_blank") Black Flag Publicidade ]


.responsiveNav.hide-for-large
    .responsiveNavCloseButton
        i.fas.fa-times.fa-2x
    .grid-container.menuMobile
        .grid-x.grid-margin-x.grid-padding-x
            .cell.small-12
                ul.menu.vertical
                    li
                        a(href="") Home
                    li
                        a(href="") Quem Somos
                    li
                        a(href="") Nossos Serviços
                    li
                        a(href="") Notícias
                    li
                        a(href="") Contato