section.linksHome
    .grid-container
        .grid-x.grid-margin-x.grid-padding-x
            .cell.small-12
                h3.titulo Links Úteis
            .cell.small-12
                ul.links
                    li
                        a(href="http://www8.receita.fazenda.gov.br/SimplesNacional/", target="_blank") #[i.fas.fa-external-link-alt] Simples Nacional
                    li
                        a(href="http://www.receita.fazenda.gov.br/Aplicacoes/ATSPO/CodigoReceita/default.asp", target="_blank") #[i.fas.fa-external-link-alt] Códigos de Receita - Tributos Federais
                    li
                        a(href="http://www.receita.fazenda.gov.br/GuiaContribuinte/cnpj/default.htm", target="_blank") #[i.fas.fa-external-link-alt] Informações sobre o CNPJ
                    li
                        a(href="http://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/CPF/ConsultaPublica.asp", target="_blank") #[i.fas.fa-external-link-alt] Consulta CPF
                    li
                        a(href="http://www.receita.fazenda.gov.br/Aplicacoes/Atrjo/Simulador/TelaOptMenAnu.htm", target="_blank") #[i.fas.fa-external-link-alt] Simulador de imposto de renda
                    li
                        a(href="http://portal.esocial.gov.br/noticias/publicado-novo-cronograma-do-esocial", target="_blank") #[i.fas.fa-external-link-alt] eSocial
                    li
                        a(href="http://www.cidadao.pr.gov.br/", target="_blank") #[i.fas.fa-external-link-alt] Governo do Estado do Paraná
                    li
                        a(href="http://www.fazenda.pr.gov.br/index.php/", target="_blank") #[i.fas.fa-external-link-alt] Receita Estadual do Paraná
                    li
                        a(href="http://www.fazenda.pr.gov.br/modules/conteudo/conteudo.php?conteudo=260", target="_blank") #[i.fas.fa-external-link-alt] Pedidos de inscrição estadual e baixa de empresas ativas - PR
                    li
                        a(href="http://www.fazenda.pr.gov.br/modules/conteudo/conteudo.php?conteudo=266", target="_blank") #[i.fas.fa-external-link-alt] Certidão negativa dos tributos Estaduais - PR
                    li
                        a(href="http://www.sped.fazenda.pr.gov.br/", target="_blank") #[i.fas.fa-external-link-alt] Nota Fiscal Eletrônica

section.linksHome.destaques
    .grid-container
        .grid-x.grid-margin-x.grid-padding-x
            .cell.small-6.large-3
                a(href="https://idg.receita.fazenda.gov.br/", target="_blank")
                    img(src="assets/img/link_1.png", alt="")
            .cell.small-6.large-3
                a(href="http://www.caixa.gov.br/Paginas/home-caixa.aspx", target="_blank")
                    img(src="assets/img/link_2.png", alt="")
            .cell.small-6.large-3
                a(href="http://www.juntacomercial.pr.gov.br/", target="_blank")
                    img(src="assets/img/link_3.png", alt="")
            .cell.small-6.large-3
                a(href="http://www.curitiba.pr.gov.br/", target="_blank")
                    img(src="assets/img/link_4.png", alt="")