section.noticiasHome
    .grid-container
        .grid-x.grid-padding-x
            .cell.small-12
                h3.titulo Notícias
            .cell.small-12
                .grid-x
                    .cell.small-12.large-6.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="#") Contabilidade Geral]
                                p Estamos preparados para atender os mais variados ramos de atividade, com uma contabilidade eficiente e transparente.
                                a(href="#", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    .cell.small-12.large-6.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="#") Fiscal]
                                p Assessoria completa em todos os procedimentos legais nas mais diferentes situações do dia-a-dia.
                                a(href="#", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    .cell.small-12.large-6.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="#") Abertura de Empresas]
                                p Estamos preparados para abrir e cuidar da sua empresa, dando todo o apoio que sua nova empresa precisa.
                                a(href="#", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais

                    .cell.small-12.large-6.noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="#") Recursos Humanos]
                                p Fornecemos um constante monitoramento de uma equipe, apta à lhe orientar em todas as questões, com o objetivo de reduzir todo tipo de risco de reclamações trabalhistas que você possa correr.
                                a(href="#", class="leiaMais") #[i.fas.fa-external-link-alt]Leia Mais
