ul(class="social-media")
    li
        a(href="" class="button")
            i.fab.fa-facebook
    li
        a(href="" class="button")
            i.fab.fa-twitter
    li
        a(href="" class="button")
            i.fab.fa-youtube
    li
        a(href="" class="button")
            i.fab.fa-instagram